<h1>STANDINGS KURWA </h1>

<table>
    {% for teams in teamDTO %}

<h1> Teamdetails for: {{ teams['name'] }}</h1>
             name:  {{ teams['name']   }}  <br>
             Club Color: {{ teams['clubColors'] }} <br>
             Venue: {{ teams['venue'] }} <br>
            Short Name: {{ teams['shortname'] }} <br>
            tla: {{ teams['tla'] }} <br>
            adress: {{ teams['adress'] }}<br>
            website: {{ teams['website'] }} <br>
    {% endfor %}
</table>
