
<table>


<h1> Teamdetails for: {{ teamDataTransferObject.teamName }}</h1>

    name : {{ teamDataTransferObject.teamShortName  }} <br>
     abbreviation : {{ teamDataTransferObject.teamTla  }} <br>
    adresse : {{ teamDataTransferObject.teamAddress  }} <br>
    Website: {{ teamDataTransferObject.teamWebsite  }} <br>
    Club Color: {{ teamDataTransferObject.teamClubColors  }} <br>
    Stadium : {{ teamDataTransferObject.teamVenue  }} <br>

</table>
